SECRET_KEY=change-this-secret
MONGO_URI=mongodb+srv://chatbotuser:Test12345@cluster0.lepxmde.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_DBNAME=chatbox
MONGO_SERVER_SELECTION_TIMEOUT_MS=15000
MONGO_CONNECT_TIMEOUT_MS=15000
GROQ_API_KEY=your_groq_api_key
FLASK_ENV=production
FLASK_DEBUG=0
SESSION_HOURS=8
RATELIMIT_DEFAULT=200 per day;50 per hour
RATELIMIT_STORAGE_URI=memory://
MAX_CONTENT_LENGTH=2097152
BCRYPT_LOG_ROUNDS=12
